/* -- general base css START -- */

:root {
  --base: 1.35;
}

html {
  font-size: 1rem;
}

/*  asterics  */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* -- general base css END -- */

/*  */

/* -- -------------This project starts with a mobile workflow -- */

main {
  background-color: #a7a8cd;
  width: 100vw;
  height: 100vh;
  padding-top: 1rem;
  @media screen and (min-width: 600px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*   */
  & section {
    height: 80vh;
    position: relative;

    .image {
      & img {
        height: 100%;
        width: 100%;
        @media screen and (min-width: 600px) {
          width: 24rem;
        }
      }

      & span {
        position: absolute;
        top: 8px;
        left: -10px;
        background-color: #f0f092;
        padding: 0.5em 1em 0.5em 0.7em;
        font-weight: 900;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 14px;
        border-top-right-radius: 14px;
      }
    }

    .context {
      background-color: white;
      padding: 0 0.8rem 1rem;
      position: relative;

      @media screen and (min-width: 600px) {
        width: 24rem;
      }

      .fa-house {
        font-size: 2rem;
        cursor: pointer;
        color: black;
        transform: translate(15rem, 1rem);
        position: absolute;
        @media screen and (min-width: 600px) {
          transform: translate(20rem, 1rem);
        }
      }

      h1 {
        padding: 1em 0;

        & span {
          color: #999797;
          font-size: 0.7em;
        }
      }

      & p {
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.4rem;
        @media screen and (min-width: 600px) {
          line-height: 1.7rem;
        }
      }
    }
  }
}
